@model IEnumerable<VictuzApp.Models.Event>

@{
    ViewData["Title"] = "IndeParticipant";
}

<h1>IndeParticipant</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxParticipants)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxParticipants)
            </td>
            <td>
               
                <a asp-action="DetailsParticipant" asp-route-id="@item.Id">Details</a> |
                <a asp-action="RegisterForActivity" asp-route-activityId="@item.Id">Register</a>
            </td>
        </tr>
}
    </tbody>
</table>
