@model IEnumerable<VictuzApp.Models.Event>

@{
    ViewData["Title"] = "Index";
}

<h2>Evenementen</h2>
<p>
    <form method="get" asp-action="Index">
        <input type="text" name="searchTerm" placeholder="Zoek evenement titel..." />
        <button type="submit">Zoeken</button>
    </form>
</p>



<p>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create">Create New</a>
    }
    @if (User.IsInRole("BoardMember"))
    {
        <a asp-action="Create">Create New</a>
    }

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxParticipants)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxParticipants)
            </td>
            @if(User.IsInRole("Admin")){
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-action="RegisterForActivity" asp-route-eventId="@item.Id">Register</a> |
                <a asp-action="ViewRegistrations" asp-route-eventId="@item.Id">View Registrations</a>
            </td>
            }
            @if (User.IsInRole("Member")){
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="RegisterForActivity" asp-route-eventId="@item.Id">Register</a> 
            </td>
            }
            @if (User.IsInRole("Guest")){
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="RegisterForActivity" asp-route-eventId="@item.Id">Register</a>
            </td>

            }
            @if (User.IsInRole("BoardMember"))
                {
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-action="RegisterForActivity" asp-route-eventId="@item.Id">Register</a> |
                <a asp-action="ViewRegistrations" asp-route-eventId="@item.Id">View Registrations</a>
            </td>
            }



            </tr>
}
    </tbody>
</table>
