@model VictuzApp.ViewModels.RegstrationsViewModel

@{
    ViewData["Title"] = "ViewRegistrations";
}

<h1>ViewRegistrations</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Event.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Event.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Event.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Event.MaxParticipants)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Event.MaxParticipants)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Event.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
@if(Model.Users != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Username
                </th>
                <th>
                    Email
                </th>
                <th>
                    Phone Number
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Users)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>
        There are no participants for this activity
    </div>
}
