@using VictuzApp.ViewModels
@using VictuzApp.Models

@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "GetUsers";
}

<h1>GetUsers</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                Huidige rol
            </th>
            <th>
                Rol aanpassen
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="event-row">
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <p>Admin</p>
                    }
                    else if (User.IsInRole("BoardMember"))
                    {
                        <p>BoardMember</p>
                    }
                    else if (User.IsInRole("Member"))
                    {
                        <p>Member</p>
                    }
                    else
                    {
                        <p>Guest</p>
                    }

                </td>
                <td>
                    <a asp-action="ChangeUserRole" asp-route-userId="@item.Id">Change Role</a>
                </td>
            </tr>
        }
    </tbody>
</table>