@using VictuzApp.ViewModels
@using VictuzApp.Models
@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> _userManager

@model IEnumerable<UserRolesViewModel>

@{
    ViewData["Title"] = "GetUsers";
}

<h1>Users</h1>
<table class="table">
    <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    Huidige rol
                </th>
                <th>
                    Rol aanpassen
                </th>
            </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="event-row">
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                @foreach (var role in item.Roles)
                {
                    <td>
                        @role
                    </td>
                }
                <td>
                    <a asp-action="ChangeUserRole" asp-route-userId="@item.UserId">Change Role</a>
                </td>
            </tr>
        }
    </tbody>
</table>